.nav{
    background-color: #4c8930;
    color: white;
}

.wrapper{
    width:90%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    border: 1px solid black;
}
.dropdown{
    align-self: center;
}



.wrapper>p{
    height: 50px;
    border: 2px solid red;
    margin-right: 20px;
    align-self:flex-start;
   
}
.wrapper>p:hover{
    font-size: 1.1rem;
}


@media screen and (max-width:800px){
    .wrapper {
        justify-content: center;
        margin: auto;
    }
}


