.content{
   color: rgb(65, 64, 64);
   background-color: #eceeef;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   padding: 20px 0;
}

.content >p {
   text-align: center;
   font-size:1.5rem;
   margin-bottom: 30px;
}
.wrapper{
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}

.newslist{
   width: 380px;
   background-color: white;
   border-radius: 5px;
   padding: 20px;
   margin: 15px;
   

}

.date{
   text-align: center;
   font-size: 12px;
   margin-bottom: 15px;
}

.message{
   font-size: 14px;
   justify-items: start;
}



