*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',sans-serif;
}

input{
  outline: none;
}

img{
  display: block;
}


.btn-secondary{
  background-color: white;
  color: green;
  font-size: 14px;
 
}

.dropdown-menu{
  font-size: 14px;
}


/* .dropdown::after{
  display: none !important; 
} */

.dropdown-toggle::after {
  display: none !important; 
}