*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',sans-serif;
}

input{
  outline: none;
}

img{
  display: block;
}


.btn-secondary{
  background-color: white;
  color: green;
  font-size: 14px;
 
}

.dropdown-menu{
  font-size: 14px;
}



.form{
  width: 380px;
  height: 35px;
  margin: auto;
}

.mb-3{
  width: 300px;
  float: left;
}
.sub-input{
  width: 300px;
  border-radius: 0;
  height: 35px;
}

.sub-button{
  width:80px;
  float: left;
  border-radius: 0;
  height: 35px;
  text-align: center;
  background-color: green;
  border: none;

}

.clear{clear: both;}
